### Load and split the dataset
- Load the train data and using all your knowledge of pandas try to explore the different statistical properties of the dataset.
- Separate the features and target and then split the train data into train and validation set.

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [33]:
# Code starts here
train= pd.read_csv(r"C:\Users\vaibh\Desktop\Python DS\Sprint 5_Advanced Statistics\Lego Collector's Dilemma\file (1)\train.csv")
train.head()

,ages,list_price,num_reviews,piece_count,play_star_rating,review_difficulty,star_rating,theme_name,val_star_rating,country,Id
0,8,155.8800,202,2469,4.7,1,4.9,9,4.7,7,0
1,26,19.9900,9,252,4.8,0,4.6,39,4.6,20,1
2,26,91.6980,56,659,4.6,0,4.6,34,3.9,4,2
3,11,24.3878,1,19,3.0,5,4.0,13,4.0,10,3
4,7,609.9878,84,4016,4.5,1,3.9,34,3.5,10,4

In [34]:
train.corr()

,ages,list_price,num_reviews,piece_count,play_star_rating,review_difficulty,star_rating,theme_name,val_star_rating,country,Id
ages,1.000000,-0.076763,-0.160969,-0.090685,0.232847,-0.239683,0.102633,0.476178,0.116349,-0.001526,0.012979
list_price,-0.076763,1.000000,0.439499,0.866119,0.145151,-0.284760,0.126577,0.192707,0.114612,0.018192,-0.004015
num_reviews,-0.160969,0.439499,1.000000,0.542924,0.151801,-0.196846,0.160762,0.012342,0.172431,0.001953,-0.004335
piece_count,-0.090685,0.866119,0.542924,1.000000,0.174411,-0.312239,0.180903,0.173318,0.192863,0.002506,-0.001435
play_star_rating,0.232847,0.145151,0.151801,0.174411,1.000000,-0.670508,0.902573,0.151078,0.921824,-0.000958,-0.005477
review_difficulty,-0.239683,-0.284760,-0.196846,-0.312239,-0.670508,1.000000,-0.637901,-0.153948,-0.650333,0.006417,0.002682
star_rating,0.102633,0.126577,0.160762,0.180903,0.902573,-0.637901,1.000000,0.065264,0.908720,-0.003865,-0.007639
theme_name,0.476178,0.192707,0.012342,0.173318,0.151078,-0.153948,0.065264,1.000000,0.097430,-0.003625,-0.001884
val_star_rating,0.116349,0.114612,0.172431,0.192863,0.921824,-0.650333,0.908720,0.097430,1.000000,0.002413,-0.016912
country,-0.001526,0.018192,0.001953,0.002506,-0.000958,0.006417,-0.003865,-0.003625,0.002413,1.000000,-0.028541
Id,0.012979,-0.004015,-0.004335,-0.001435,-0.005477,0.002682,-0.007639,-0.001884,-0.016912,-0.028541,1.000000

### Feature Selection
- Try selecting suitable threshold and accordingly drop the columns.

In [35]:
# Code starts here
train.drop(['Id'], axis=1, inplace=True)
# Code ends here.

### Model building

In [36]:
# Code starts here
# Code Starts here
# Split the train data into train and validation set
X= train.drop('list_price',1)
y= train['list_price']
highest_r2_scr= 0
chosen_state= 0

for n in range(100):
    random_state=n
    X_train,X_test,y_train,y_test= train_test_split(X,y,random_state=random_state,test_size=0.3)
    
    #Standardize the data
    Scaler= StandardScaler()
    X_train= Scaler.fit_transform(X_train)
    X_test= Scaler.transform(X_test)
    
    #Initialize the Linear Regression Model
    model=LinearRegression()
    
     #Polynomial Features
    poly= PolynomialFeatures()
    X_train=poly.fit_transform(X_train)
    X_test=poly.transform(X_test)
    
    #Predict the accuracy score
    model.fit(X_train,y_train)
    pred=model.predict(X_test)
    r2_scr= r2_score(y_test,pred)
    if r2_scr>highest_r2_scr:
        highest_r2_scr=r2_scr
        chosen_state=n
print("The highest r2_score using Linear Regression Model is {} with chosen random state {}".format(highest_r2_scr,chosen_state))

The highest r2_score using Linear Regression Model is 0.884350854058679 with chosen random state 50

### Prediction on the test data and creating the sample submission file.

- Load the test data and store the `Id` column in a separate variable.
- Perform the same operations on the test data that you have performed on the train data.
- Create the submission file as a `csv` file consisting of the `Id` column from the test data and your prediction as the second column.

In [37]:
# Code starts here
test= pd.read_csv(r"C:\Users\vaibh\Desktop\Python DS\Sprint 5_Advanced Statistics\Lego Collector's Dilemma\file (1)\test.csv")
Id=test['Id'].copy()
test.head()

,ages,num_reviews,piece_count,play_star_rating,review_difficulty,star_rating,theme_name,val_star_rating,country,Id
0,26,8,941,4.6,0,4.6,33,4.3,16,9907
1,11,0,19,0.0,5,0.0,13,0.0,7,5243
2,29,34,1376,4.0,1,4.3,34,3.8,12,8276
3,26,0,369,0.0,5,0.0,28,0.0,9,6501
4,11,1,19,3.0,5,4.0,13,4.0,0,1619

In [38]:
test.drop(['Id'], axis=1, inplace=True)

In [39]:
# Split the train data into train and validation set
X= train.drop('list_price',1)
y= train['list_price']

random_state=50
X_train,X_test,y_train,y_test= train_test_split(X,y,random_state=random_state,test_size=0.3)
    
#Standardize the data
Scaler= StandardScaler()
X_train= Scaler.fit_transform(X_train)
test = Scaler.transform(test)
 
#Initialize the Linear Regression Model
model = LinearRegression()

#Polynomial Features
poly= PolynomialFeatures()
X_train=poly.fit_transform(X_train)
test=poly.transform(test)
    
#Predict the accuracy score
model.fit(X_train,y_train)
pred=model.predict(test)

In [40]:
submission= pd.DataFrame({'Id':Id,'list_price':pred})
submission.to_csv("First_Submission_AllFeatures.csv", index=False)