In [1]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# load data
df = pd.read_csv(r"C:\Users\vaibh\Desktop\Python DS\Sprint 4_Statistics Foundation\file (3).csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [3]:
df['Loan_Status'].value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

In [5]:
total= len(df)
total

614

In [10]:
yes= len(df[df['Loan_Status'] == 'Y'])
yes

422

In [11]:
p_of_A = yes/total
p_of_A

0.6872964169381107

In [12]:
# Which area is the house located in?
# Probability of Urban houses
p_of_urban= len(df[df['Property_Area'] == 'Urban'])/total

# Probability of Semiurban houses
p_of_semiurban= len(df[df['Property_Area'] == 'Semiurban'])/total

# Probability of either Urban or Semiurban houses 
p_of_or= p_of_urban + p_of_semiurban
p_of_or

0.7084690553745928

In [17]:
# creating pivot table 

g= df['Gender'].to_numpy()
l= df['Loan_Status'].to_numpy()
table= pd.crosstab(g,l,margins=True, margins_name="Total")
table

col_0     N    Y  Total
row_0
Female   37   75    112
Male    150  339    489
Total   187  414    601

In [24]:
# Total male applicants
total_male= table['Total'].values[1]
total_male
# Total female applicants
total_female= table['Total'].values[0]
total_female
# Total male applicants whose loan applications were accepted
total_ymale= table['Y'].values[1]
total_ymale
# Total female applicants whose loan applications were accepted
total_yfemale= table['Y'].values[0]
total_yfemale

75

In [25]:
# Probability of loan approval when applicant is male
p_of_ymale= total_ymale/total_male
print(p_of_ymale)
# Probability of loan approval when applicant is female
p_of_yfemale= total_yfemale/total_female
print(p_of_yfemale)

0.6932515337423313
0.6696428571428571